In [1]:
import pandas as pd

In [3]:
weather = pd.read_csv('seattle-weather.csv')

In [4]:
weather.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [8]:
# Number of days with each weather type
weather['weather'].value_counts()

sun        714
fog        411
rain       259
drizzle     54
snow        23
Name: weather, dtype: int64

In [6]:
# First date in data
weather['date'].min()

'2012-01-01'

In [7]:
# Last date in data
weather['date'].max()

'2015-12-31'

In [9]:
# Number of days with non-zero precipitation

# Filter data to days with 'precipitation' column value greater than zero
non_zero_precip = weather[weather['precipitation'] > 0]

# get length of filtered data
len(non_zero_precip)

623